/* algemene stijl */
*{
    margin: 0;
    padding: 0;
}

/* header */
header{
    min-height: 150px;
    background-image: url(../figuren/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 75px;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav .banner{
    width: 100px;
    height: 100px;
    background-image: url(../figuren/logo.png);
    background-size: cover;
}



header nav .items{
    display: flex;
}

header nav .item{
    padding: 5px 10px;
    list-style: none;
    font-weight: 600;
}

header nav a{
    text-decoration: none;
    color: black;
}

/* main */

/* section 1 info*/
main .info{
    display: flex;
    justify-content: center;
}

main .tekst{
    width: 700px;
    padding: 50px;
}

main .tekst .titel{
    padding: 10px 0;
}

main .zeezicht{
    width: 300px;
    height: 200px;
    background-image: url(../figuren/zeezicht.jpg);
    background-size: cover;
    margin: 3px;
    border-radius: 50px;
}

/* section 2 korting */
main .kortingknop{
    display: flex;
    justify-content: end;
}

main .knop{
    position: fixed;
}

main .korting{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 75px;
    background-color: rgb(9, 179, 246);
    border-radius: 30px;
}

main .korting a{
    text-decoration: none;
    color: black;
}

/* section 3 fotos */
main .fotos{
    display: flex;
    justify-content: space-evenly;
    /* border: solid black; */
    height: 600px;
    align-items: center;
}
main .fotos .foto{
    width: 350px;
    height: 450px;
    border: solid green;
    border-radius: 50px 0;
}

main .fotos .foto1{
    background-image: url(../figuren/huis.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main .fotos .foto2{
    background-image: url(../figuren/grondplan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid lightblue;
    
}

main .fotos .foto3{
    background-image: url(../figuren/ligging.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* footer */
footer nav{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
    height: 40px;
}

footer nav p{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}